// ? Importing the global rules from the _global-rules.scss file.
@import "./SASS/Layouts/global-rules";

// ? Importing the colors from the _colors.scss file.
@import "./SASS/variables/colors";

// ? Variables:
$padding: 1rem;
$icons-dim: 1.2rem;
$box-shadow: 0 2px 5px 0
  rgba(
    $color: #fff,
    $alpha: 0.2,
  );

body {
  width: 100%;
  height: 100vh;
}

// ? Mixins:
@mixin sectionAfter($width, $left) {
  content: "";
  position: absolute;
  width: #{$width};
  height: 0.3rem;
  background-color: #{$orange};
  left: #{$left};
  top: 50px;
}
/* Start the mobile screens styles. */

.container {
  width: 100%;
  height: 100vh;
  .mobile-cont {
    width: 100%;
    height: 100%;
    .header-mobile {
      width: 100%;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      .head {
        width: 100%;
        height: 7%;
        padding: #{$padding};
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        .burger-menu-mob {
          width: #{$icons-dim};
          height: #{$icons-dim};
          cursor: pointer;
        }
        .logo-mob {
          width: 150px;
          height: #{$icons-dim};
          margin-left: -4rem;
          cursor: pointer;
        }
        span.cart-quantity {
          width: 20px;
          height: 10px;
          padding: 0.5rem;
          background-color: #{$orange};
          position: absolute;
          right: 16%;
          top: -5%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #{$white};
          font-size: xx-small;
          font-weight: bold;
          border-radius: 2rem;
          &.hidden {
            display: none;
          }
        }
        .cart-img-mob {
          width: #{$icons-dim};
          height: #{$icons-dim};
          margin-right: -4rem;
          cursor: pointer;
        }
        .user-img-mob {
          width: calc(#{$icons-dim} + 10px);
          height: calc(#{$icons-dim} + 10px);
          border-radius: 50%;
          transition: border 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            border: 3px solid #{$orange};
          }
        }
        .cart-box-mob {
          position: absolute;
          left: 9px;
          top: 55px;
          width: 23.3rem;
          height: 14rem;
          background-color: white;
          border-radius: 0.5rem;
          padding: #{$padding};
          .cart-head {
            width: 100%;
            height: 15%;
            font-size: larger;
            border-bottom: 1px solid #{$grayish-blue};
          }
          .cart-box-info {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 1fr 1fr;
            place-items: center;
            .cart-empty-text {
              grid-area: 1/ 1 / 3 / 4;
              font-weight: 700;
              color: #{$dark-grayish-blue};
              text-align: center;
              line-height: 180px;
            }
            .cart-products {
              width: 100%;
              height: 50%;
              grid-area: 1 / 1 / 2 / 4;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              display: none;
              .product-thumbnail {
                width: 4rem;
                height: 3rem;
                border-radius: 0.5rem;
              }
              .text-info {
                width: calc(100% - 4rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 0.8rem;
                .inner-text {
                  color: #{$dark-grayish-blue};
                  .details {
                    font-size: medium;
                  }
                  .price {
                    font-size: medium;
                    span {
                      padding-left: 0.5rem;
                    }
                    .total {
                      font-weight: 700;
                      color: #{$very-dark-blue};
                    }
                  }
                }
                .delete-img {
                  width: #{$icons-dim};
                  height: #{$icons-dim};
                  cursor: pointer;
                }
              }
              .checkout-btn {
                margin-top: 1rem;
                width: 100%;
                height: 3rem;
                grid-area: 2 / 1 / 3 / 4;
                border: none;
                border-radius: 0.5rem;
                color: #{$white};
                background-color: #{$orange};
                font-size: larger;
                box-shadow: #{$box-shadow};
                cursor: pointer;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
          &.hidden {
            display: none;
          }
        }
      }
      .nav-and-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        z-index: 15;
        nav {
          width: 70%;
          height: 100vh;
          background-color: #{$white};
          z-index: 10;
          padding: #{$padding};
          .close-img-mob {
            margin-bottom: 3rem;
            cursor: pointer;
          }
          a {
            display: block;
            text-decoration: none;
            color: #{$very-dark-blue};
            margin-bottom: 2rem;
          }
          li {
            list-style: none;
            font-size: larger;
            font-weight: bold;
          }
        }
        .wrapper {
          width: 30%;
          height: 100vh;
          background-color: rgba($color: #000000, $alpha: 0.7);
          z-index: 10;
        }
      }
    }
    .slider-and-info {
      width: 100%;
      height: 35%;
      position: relative;
      z-index: -1;
      .carousel {
        @for $num from 1 through 4 {
          .carousel-image-#{$num} {
            position: absolute;
            width: 100%;
            height: 100%;
          }
          .arrow-left {
            width: 40px;
            height: 40px;
            background-color: #{$white};
            border-radius: 50%;
            padding: 0.7rem;
            z-index: 10;
            position: absolute;
            top: 50%;
            left: 0.5rem;
          }
          .arrow-right {
            width: 40px;
            height: 40px;
            background-color: #{$white};
            border-radius: 50%;
            padding: 0.7rem;
            z-index: 10;
            position: absolute;
            top: 50%;
            right: 0.5rem;
          }
        }
      }
    }
    .product-info {
      transform: translateY(78%);
      padding: 0 #{$padding} 0.5rem;
      .company-title {
        color: #{$orange};
        opacity: 0.8;
        text-transform: uppercase;
        font-weight: 700;
        font-size: small;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }
      .product-title {
        max-width: 500px;
        font-size: xx-large;
        margin-bottom: 1rem;
      }
      .product-text-para {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
        font-size: medium;
        color: #{$dark-grayish-blue};
      }
      .price-and-discount {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inner {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .single-price {
            font-weight: 700;
            font-size: xx-large;
          }
          .discount {
            width: 50px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #{$pale-orange};
            color: #{$orange};
            font-weight: 700;
            border-radius: 0.3rem;
            box-shadow: #{$box-shadow};
          }
        }
        .prev-price {
          color: #{$dark-grayish-blue};
          text-decoration: line-through;
          opacity: 0.6;
        }
      }
      .quantity {
        width: 100%;
        height: 7vh;
        background-color: #{$light-grayish-blue};
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 #{$padding};
        border-radius: 0.5rem;
        box-shadow: #{$box-shadow};
        margin-bottom: 1rem;
        img {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .add-to-cart-btn {
        width: 100%;
        height: 7vh;
        background-color: #{$orange};
        color: #{$white};
        border: none;
        box-shadow: #{$box-shadow};
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        font-weight: 700;
        cursor: pointer;
        img {
          margin-right: 1rem;
          filter: invert(93%) sepia(99%) saturate(0%) hue-rotate(126deg)
            brightness(110%) contrast(100%);
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .desktop-cont {
    display: none;
  }
}
/* End the mobile screens styles. */

/* Start the styles for the desktop screens */

@media only screen and (min-width: 787px) {
  .container {
    width: 100%;
    height: 100vh;
    padding: 1rem 7rem;
    .mobile-cont {
      display: none;
    }
    .desktop-cont {
      width: 100%;
      height: 100%;
      display: block;
      .head {
        width: 100%;
        height: 12vh;
        padding: #{$padding};
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #{$grayish-blue};
        margin-bottom: 2rem;
        .logo {
          width: 10rem;
          height: 1.5rem;
          cursor: pointer;
        }
        .sections {
          width: 75rem;
          .sec {
            text-decoration: none;
            color: #{$dark-grayish-blue};
            font-size: medium;
            margin-left: 3rem;
            position: relative;
          }
          .sec:first-of-type {
            &:hover {
              &::after {
                @include sectionAfter(6.5rem, -10px);
              }
            }
          }
          .sec:nth-of-type(2) {
            &:hover {
              &::after {
                @include sectionAfter(3rem, -7px);
              }
            }
          }
          .sec:nth-of-type(3) {
            &:hover {
              &::after {
                @include sectionAfter(5rem, -8px);
              }
            }
          }
          .sec:nth-of-type(4) {
            &:hover {
              &::after {
                @include sectionAfter(4rem, -8px);
              }
            }
          }
          .sec:last-of-type {
            &:hover {
              &::after {
                @include sectionAfter(5rem, -7px);
              }
            }
          }
        }
        span.cart-quantity-desktop {
          width: 20px;
          height: 10px;
          padding: 0.5rem;
          background-color: #{$orange};
          position: absolute;
          right: 13.5%;
          top: 5.2%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #{$white};
          font-size: xx-small;
          font-weight: bold;
          border-radius: 2rem;
          &.hidden {
            display: none;
          }
        }
        .cart-icon {
          width: 24px;
          height: 24px;
          cursor: pointer;
          margin-right: 2rem;
        }
        .user-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            border: 2px solid #{$orange};
          }
        }
        .cart-box-desktop {
          position: absolute;
          right: 100px;
          top: 90px;
          width: 20rem;
          height: 14rem;
          background-color: white;
          border-radius: 0.5rem;
          box-shadow: 0px 1px 5px 0 rgb(160, 160, 160);
          padding: #{$padding};
          z-index: 100;
          .cart-head {
            width: 100%;
            height: 18%;
            font-size: larger;
            border-bottom: 1px solid #{$grayish-blue};
          }
          .cart-box-info {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 1fr 1fr;
            place-items: center;
            .cart-empty-text {
              grid-area: 1/ 1 / 3 / 4;
              font-weight: 700;
              color: #{$dark-grayish-blue};
              text-align: center;
              line-height: 180px;
            }
            .cart-products {
              width: 100%;
              height: 50%;
              grid-area: 1 / 1 / 2 / 4;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              display: none;
              .product-thumbnail {
                width: 3rem;
                height: 3rem;
                border-radius: 0.5rem;
                margin-bottom: 0.7rem;
              }
              .text-info {
                width: calc(100% - 4rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 0.2rem;
                margin-bottom: 0.7rem;
                .inner-text {
                  color: #{$dark-grayish-blue};
                  .details {
                    font-size: small;
                    letter-spacing: 0.5px;
                  }
                  .price {
                    font-size: small;
                    span {
                      padding-left: 0.5rem;
                    }
                    .total {
                      font-weight: 700;
                      color: #{$very-dark-blue};
                    }
                  }
                }
                .delete-img {
                  width: 1rem;
                  height: 1rem;
                  cursor: pointer;
                  margin-bottom: 0.7rem;
                }
              }
              .checkout-btn {
                margin-top: 1rem;
                width: 100%;
                height: 2.5rem;
                grid-area: 2 / 1 / 3 / 4;
                border: none;
                border-radius: 0.5rem;
                color: #{$white};
                background-color: #{$orange};
                font-size: medium;
                box-shadow: #{$box-shadow};
                cursor: pointer;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
          &.hidden {
            display: none;
          }
        }
      }
      .main-content {
        width: 100%;
        height: 82vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .inpage-gallery {
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .large-images {
            width: 55%;
            height: 75%;
            position: relative;
            @for $num from 1 through 4 {
              .large-image#{$num} {
                width: 100%;
                height: 90%;
                position: absolute;
                border-radius: 1rem;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.03);
                  border: 3px solid #{$orange};
                }
              }
            }
          }
          .small-images {
            display: flex;
            gap: 1.2rem;
            @for $num from 1 through 4 {
              .small-image-#{$num} {
                width: 75px;
                height: 65px;
                border-radius: 0.5rem;
                cursor: pointer;
                &:hover {
                  opacity: 0.8;
                  border: 3px solid #{$orange};
                }
              }
            }
          }
        }
        .product-info-desktop {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2rem;
          .company-title {
            color: #{$orange};
            opacity: 0.8;
            text-transform: uppercase;
            font-weight: 700;
            font-size: medium;
            letter-spacing: 2px;
          }
          .product-title {
            max-width: 400px;
            font-size: xx-large;
          }
          .product-text-para {
            max-width: 400px;
            height: fit-content;
            font-size: small;
            color: #{$dark-grayish-blue};
            line-height: 1.5rem;
          }
          .price-and-discount {
            width: 100%;
            height: 8vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            .inner {
              width: 22%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .single-price {
                font-weight: 700;
                font-size: x-large;
              }
              .discount {
                width: 45px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #{$pale-orange};
                color: #{$orange};
                font-weight: 700;
                font-size: medium;
                border-radius: 0.3rem;
                box-shadow: #{$box-shadow};
              }
            }
            .prev-price {
              color: #{$dark-grayish-blue};
              text-decoration: line-through;
              opacity: 0.6;
              font-size: medium;
            }
          }
          .qun-and-btn {
            width: 100%;
            height: 12%;
            display: flex;
            gap: 2rem;
            .quantity {
              width: 25%;
              height: 5vh;
              background-color: #{$light-grayish-blue};
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 #{$padding};
              border-radius: 0.5rem;
              box-shadow: #{$box-shadow};
              margin-bottom: 1rem;
              .number {
                font-size: small;
                font-weight: bold;
              }
              img {
                width: 10px;
                height: 10px;
                cursor: pointer;
                &:hover {
                  opacity: 0.7;
                }
              }
              img.minus-img {
                height: 4px;
              }
            }
            .add-to-cart-btn {
              width: 35%;
              height: 5vh;
              background-color: #{$orange};
              color: #{$white};
              border: none;
              box-shadow: #{$box-shadow};
              border-radius: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: small;
              font-weight: 700;
              cursor: pointer;
              img {
                width: 16px;
                margin-right: 1rem;
                filter: invert(93%) sepia(99%) saturate(0%) hue-rotate(126deg)
                  brightness(110%) contrast(100%);
              }
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
      .outer-gallery {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        .inner-cont {
          width: 35%;
          height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .close-icons {
            width: 30px;
            height: 20px;
            align-self: flex-end;
            position: relative;
            margin-bottom: 1.5rem;
            transition: display 0.5s ease-in-out;
            cursor: pointer;
            img {
              width: 17px;
              position: absolute;
            }
            .close-icon {
              display: block;
            }
            .orange-close-icon {
              display: none;
            }
            &:hover {
              .close-icon {
                display: none;
              }
              .orange-close-icon {
                display: block;
              }
            }
          }
          .large-images {
            width: 100%;
            height: 90%;
            position: relative;
            .product-lrg-img {
              width: 100%;
              height: 95%;
              position: absolute;
              border-radius: 1rem;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
              }
              &:hover {
                border: 1px solid #{$orange};
              }
            }
            .previous-arrows {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              left: -16px;
              top: 45%;
              z-index: 1001;
              background-color: white;
              border-radius: 50%;
              transition: display 0.5s ease-in-out;
              cursor: pointer;
              img {
                width: 12px;
                position: absolute;
                transform: translateX(-2px);
              }
              .previous-img {
                display: block;
              }
              .orange-previous-img {
                display: none;
              }
              &:hover {
                .previous-img {
                  display: none;
                }
                .orange-previous-img {
                  display: block;
                }
              }
            }
            .next-arrows {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: -16px;
              top: 45%;
              z-index: 1001;
              background-color: white;
              border-radius: 50%;
              transition: display 0.5s ease-in-out;
              cursor: pointer;
              img {
                width: 13px;
                position: absolute;
                transform: translateX(2px);
              }
              .next-img {
                display: block;
              }
              .orange-next-img {
                display: none;
              }
              &:hover {
                .previous-img {
                  display: none;
                }
                .orange-next-img {
                  display: block;
                }
              }
            }
          }
          .small-images {
            width: 80%;
            display: flex;
            gap: 1.2rem;
            .product-sml-img {
              width: 100px;
              height: 80px;
              border-radius: 0.5rem;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
                border: 3px solid #{$orange};
              }
            }
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
}

/* End the styles for the desktop screens */
